*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(33, 238, 135);
    color: rgb(253, 253, 253);
    font-family: "Fira Sans", sans-serif;
    margin: 0;
}

#game {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#option {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

a {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    color: rgb(8, 22, 218);
}

i {
    pointer-events: none;
    touch-action: none;
}

#computer {
    text-align: center;
}
#result {
    color: rgb(202, 9, 9);
}